.register {
    background-color: #3C3C3D;
    padding-bottom: 72px;
}

.h2-register {
    color: #fff;
}

.card-register {
    margin-bottom: 36px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #fff;
    border-radius: 20px;
}